.task-item-wrapper {
  margin: 2%;
  width: 94%;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
  border-radius: 5px;
  overflow: hidden;
}

.task-item-max {
  width: 23%;
  margin: 1%;
}
.task-item-wrapper .title {
  padding: .5rem;
  display: flex;
  justify-content: space-between;
}
.task-item-wrapper .task-item-content {
  padding: .5rem;
  font-size: .75rem;
}
.task-item-wrapper .task-item-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  font-size: .9rem;
}
.task-item-wrapper .task-item-info > div {
  flex: 1;
  padding: .5rem;
  text-align: center;
  text-transform: uppercase;
}
.task-item-wrapper .task-item-info > div.border-white {
  border-right-width: 1px;
  border-right-style: solid;
}
.task-item-actions {
  display: flex;
}
.task-item-actions > button {
  flex: 1;
  text-decoration: underline;
  padding: .5rem;
  border: 0;
}
.task-item-move {
  width: 100%;
  display: flex;
}
.task-item-move button {
  border: 0;
  flex: 1;
  padding: .5rem;
  text-decoration: underline;
}
