.left-nav-wrapper {
  flex: 1.5;
  padding: 1.5rem 0;
  border-right-width: 1px;
  border-right-style: solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.left-nav-wrapper .add-task-group-btn {
  padding: .25rem .5rem;
  border-radius: 5px;
  width: 90%;
  margin: 0 5%;
}
.left-nav-wrapper .task-grp-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}
.left-nav-wrapper .task-grp-wrapper button {
  border: 0;
  padding: .5rem;
  text-align: left;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}
.left-nav-wrapper .task-grp-wrapper button .edit {
  display: none;
  text-decoration: underline;
}
.left-nav-wrapper .task-grp-wrapper button:hover .edit {
  display: flex;
}
.left-nav-wrapper .settings-btn {
  padding: .25rem .5rem;
  border-radius: 5px;
  width: 90%;
  margin: 2% 5%;
  border-width: 1px;
  border-style: solid;
}
