.task-items-wrapper {
  display: flex;
}

.task-items-wrapper .task-type-wrapper {
  flex: 1;
  margin: 0.5rem;
  border-radius: 5px;
  height: calc(100vh - 105px);
  box-sizing: border-box;
  padding: 0.5rem .75rem;
  overflow: auto;
}

.task-type-head {
  display: flex;
  justify-content: space-between;
  padding: .5rem 1rem;
  border-radius: 5px;
}

.task-type-head button {
  display: flex;
  align-items: center;
}

.task-type-head > div {
  display: flex;
  align-items: center;
}

.task-type-head > div > div:first-of-type {
  padding-right: .25rem;
}

.task-type-head > div > div:last-of-type {
  border-radius: 50%;
  padding: .15rem .5rem;
}

.task-item {
  margin-top: 1rem;
  padding: .75rem 1rem;
  border-radius: 5px;
}

.task-item .priority-action-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-item .task-priority {
  display: inline-block;
  border-radius: 10px;
  padding: 0.25rem 0.75rem;
  margin-bottom: .5rem;
}

.task-item .task-dets {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  align-items: center;
}

.task-item .task-dets > div:first-of-type {
  border-radius: 50%;
  padding: .5rem;
}
