.dashboard-wrapper {
  flex: 8;
  padding: 0;
  border-top-width: 1px;
  border-top-style: solid;
}

.dashboard-wrapper .header {
  display: flex;
  justify-content: space-between;
  padding: .5rem;
}

.dashboard-wrapper .header .title {
  text-transform: uppercase;
}

.dashboard-wrapper .add-task {
  border-radius: 5px;
  padding: .25rem .75rem;
}
.dashboard-wrapper .status-wrapper {
  display: flex;
  flex-direction: row;
  padding-top: .25rem;
}
.dashboard-wrapper .status-wrapper > div {
  flex: 1;
  justify-content: center;
}
.dashboard-wrapper .task-title {
  text-align: center;
  text-transform: uppercase;
  padding: .5rem;
  border-width: 1px;
  border-style: solid;
}
.filters-wrapper .filters-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: .5rem;
  border-width: 1px;
  border-style: solid;
}
.filters-wrapper .filters-header button {
  border-radius: 5px;
  margin: 0 .5rem;
  padding: .5rem;
  border-width: 1px;
  border-style: solid;
}
