.open-archive-wrapper {
  min-height: 100vh;
}

.archive-task-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.close-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    border-radius: 5px;
    padding: 6px 18px;
  }
}
