/* Header Screen START */
header {
  position: sticky;
  top: 0;
}

header h2 {
  padding: .75rem;
  margin: 0;
  text-align: center;
}
/* Header Screen END */

/* Login Screen START */
.login-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 40vw;
  margin: 3rem auto;
  padding: 3rem 1rem;
  align-items: center;
  text-align: center;
  box-shadow: 0px 0px 5px 2px black;
  border-radius: 5px;
}

.login-wrapper button {
  padding: .5rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.login-wrapper .generate-btn {
  border-radius: 5px;
}

.login-wrapper input {
  padding: .5rem;
  min-width: 25vw;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.login-wrapper .or {
  padding: 3rem;
}
.login-wrapper .have-uuid {
  padding-bottom: .5rem;
}

.login-wrapper .error-message {
  padding-top: .5rem;
}
/* Login Screen END */

/* Home Screen START */
.home-wrapper {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  min-height: calc(100vh - 60px);
}
/* Home Screen END */

/* Left Nav Screen START */
.left-nav-wrapper {
  flex: 1.5;
  padding: 1.5rem 0;
  border-right-width: 1px;
  border-right-style: solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.left-nav-wrapper .add-task-group-btn {
  padding: .25rem .5rem;
  border-radius: 5px;
  width: 90%;
  margin: 0 5%;
}
.left-nav-wrapper .task-grp-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}
.left-nav-wrapper .task-grp-wrapper button {
  border: 0;
  padding: .5rem;
  text-align: left;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}
.left-nav-wrapper .task-grp-wrapper button .edit {
  display: none;
  text-decoration: underline;
}
.left-nav-wrapper .task-grp-wrapper button:hover .edit {
  display: flex;
}
.left-nav-wrapper .settings-btn {
  padding: .25rem .5rem;
  border-radius: 5px;
  width: 90%;
  margin: 0 5%;
  border-width: 1px;
  border-style: solid;
}
/* Left Nav Screen END */

/* Dashboard Screen START */
.dashboard-wrapper {
  flex: 8;
  padding: 1rem 0;
}

.dashboard-wrapper .header {
  display: flex;
  justify-content: space-between;
  padding: .5rem;
}

.dashboard-wrapper .header .title {
  text-transform: uppercase;
}

.dashboard-wrapper .add-task {
  border-radius: 5px;
  padding: .25rem .75rem;
}
.dashboard-wrapper .status-wrapper {
  display: flex;
  flex-direction: row;
  padding-top: .25rem;
}
.dashboard-wrapper .status-wrapper > div {
  flex: 1;
  justify-content: center;
}
.dashboard-wrapper .task-title {
  text-align: center;
  text-transform: uppercase;
  padding: .5rem;
  border-width: 1px;
  border-style: solid;
}
.dashboard-wrapper .task-item-wrapper {
  margin: 2%;
  width: 94%;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
  border-radius: 5px;
}
.dashboard-wrapper .task-item-wrapper .title {
  padding: .5rem;
  display: flex;
  justify-content: space-between;
}
.dashboard-wrapper .task-item-wrapper .task-item-content {
  padding: .5rem;
  font-size: .75rem;
}
.dashboard-wrapper .task-item-wrapper .task-item-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  font-size: .9rem;
}
.dashboard-wrapper .task-item-wrapper .task-item-info > div {
  flex: 1;
  padding: .5rem;
  text-align: center;
  text-transform: uppercase;
}
.dashboard-wrapper .task-item-wrapper .task-item-info > div.border-white {
  border-right-width: 1px;
  border-right-style: solid;
}
.dashboard-wrapper .task-item-actions {
  display: flex;
}
.dashboard-wrapper .task-item-actions > button {
  flex: 1;
  text-decoration: underline;
  padding: .5rem;
  border: 0;
}
.task-item-move {
  width: 100%;
  display: flex;
}
.task-item-move button {
  border: 0;
  flex: 1;
  padding: .5rem;
  text-decoration: underline;
}
.filters-wrapper .filters-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: .5rem;
  border-width: 1px;
  border-style: solid;
}
.filters-wrapper .filters-header button {
  border-radius: 5px;
  margin: 0 .5rem;
  padding: .5rem;
  border-width: 1px;
  border-style: solid;
}
/* Dashboard Screen END */

/* Modal Screen START */
.modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  /* opacity: .95; */
  z-index: 20;
}
.modal-section {
  width: 60vw;
  margin: auto;
  /* min-height: 50vh; */
  margin-top: 12vh;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  padding: 1rem;
}
.modal-section .title {
  text-align: center;
  padding-bottom: 1rem;
}
/* Modal Screen END */

/* Add Task Group START */
.add-task-group-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.form-item {
  display: flex;
  flex-direction: column;
}

.form-item input {
  border-radius: 5px;
  margin: .75rem 0;
  padding: .35rem;
  max-width: 20vw;
}

.save-btn-wrapper {
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
}

.saveBtn {
  padding: .5rem 1.5rem;
  border-radius: 5px;
}
/* Add Task Group END */

/* Add Task START */
.add-task-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 7;
}
.comments-wrapper {
  flex: 3;
  padding: 1.2rem 0.2rem;
}
.comments-wrapper > div {
  padding: .5rem 0 .5rem .5rem;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  font-size: .75rem;
}
.comments-wrapper > div:first-of-type {
  margin-top: .5rem;
}
.add-task-content {
  display: flex;
}
.add-task-item {
  min-width: 50%;
  box-sizing: border-box;
  padding: .75rem .25rem;
}
.add-task-item h5 {
  padding: .25rem 0;
}

.add-task-item input, .add-task-item select {
  width: 90%;
  border-radius: 5px;
  padding: .35rem;
  max-width: 20vw;
}
.add-task-item select {
  width: 95%;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
}
/* Add Task END */

/* Settings START */
.settings-wrapper .form-item input {
  flex: 1;
}
.settings-wrapper .form-item > div {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.settings-wrapper .form-item button {
  margin: .8rem 0;
}
.settings-wrapper .name-item {
  display: flex;
  align-items: center;
  padding: .25rem .5rem;
  margin: .5rem .5rem 1rem;
  font-size: .9rem;
}
.settings-wrapper .name-item button {
  margin: 0;
  margin-left: .5rem;
}
/* .settings-wrapper .name-item button { */
/* Settings END */
